{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create a Receipt</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">My Accounts</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create an Account</a>
                </li>
                <li>
                    <a href="{% url 'home' %}">My Receipts</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create a Category</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
